<menu>
    <menuitem label='Administration'>
        <icon>fa:university fa-fw</icon>
        <menu>
              <menuitem label='Programs'>
                  <icon>fa:file-code-o fa-fw</icon>
                  <action>SystemProgramList</action>
              </menuitem>
              <menuitem label='Groups'>
                  <icon>fa:users fa-fw</icon>
                  <action>SystemGroupList</action>
              </menuitem>
              <menuitem label='Users'>
                  <icon>fa:user fa-fw</icon>
                  <action>SystemUserList</action>
              </menuitem>
              <menuitem label='PHP Info'>
                  <icon>fa:user fa-code</icon>
                  <action>PHPInfoView</action>
              </menuitem>
        </menu>
    </menuitem>
    
   <menuitem label='Cadastros gerais'>
        <menu>
            <menuitem label='Ponto'>
                <icon>fa:fa fa-clock-o fa-fw</icon>
                <action>PontoFormList</action>
            </menuitem>
            <menuitem label='Cadastro de Tickets'>
                <icon>fa:fa fa-ticket fa-fw</icon>
                <action>TicketList</action>
            </menuitem>
            <menuitem label='Cadastro de Atividades'>
                <icon>fa:fa fa-wrench fa-fw</icon>
                <action>AtividadeList</action>
            </menuitem>
            <menuitem label='Cadastro de DTRs'>
                <icon>fa:fa fa-file-word-o fa-fw</icon>
                <action>RequisitoDesenvolvimentoList</action>
            </menuitem>           
            <menuitem label='teste'>
                <icon>fa:fa fa-file-word-o fa-fw</icon>
                <action>CommonPage</action>
            </menuitem>
            <menuitem label='teste seek'>
                <icon>fa:fa fa-file-word-o fa-fw</icon>
                <action>FormSeekButtonView</action>
            </menuitem> 
            <menuitem label='teste seek 2'>
                <icon>fa:fa fa-file-word-o fa-fw</icon>
                <action>TestCitySeek</action>
            </menuitem>     
        </menu>
    </menuitem>
    
    
   <menuitem label='Relatorios'>
        <menu>
            <menuitem label='Colaboradores'>
                <icon>fa:fa fa-line-chart fa-fw</icon>
                <action>AtividadeReport</action>
            </menuitem>    
            <menuitem label='Relatorio Tickets'>
                <icon>fa:fa fa-tachometer fa-fw</icon>
                <action>TicketReport</action>
            </menuitem>
            <menuitem label='Indicador Produtividade'>
                <icon>fa:fa fa-users fa-fw</icon>
                <action>PontoReport</action>
            </menuitem>
            <menuitem label='Log de acessos'>
                <icon>fa:user fa-film</icon>
                <action>RegistroLoginReport</action>
            </menuitem>    
            <menuitem label='Log Alterações Ticket'>
                <icon>fa:user fa-film</icon>
                <action>SystemChangeLogView</action>
            </menuitem>
        </menu>
    </menuitem>
    
    
    <menuitem label='Tabelas de apoio'>
        <menu>
            <menuitem label='Tipos de Atividades'>
                <icon></icon>
                <action>TipoAtividadeFormList</action>
            </menuitem>
            <menuitem label='Tipos de Tickets'>
                <icon></icon>
                <action>TipoTicketFormList</action>
            </menuitem>
            <menuitem label='Tipos de Prioridades'>
                <icon></icon>
                <action>PrioridadeFormList</action>
            </menuitem>
             <menuitem label='Sistemas'>
                <icon></icon>
                <action>SistemaFormList</action>
            </menuitem>   
            
            <menuitem label='Status Ticket'>
                <icon></icon>
                <action>StatusTicketFormList</action>
            </menuitem>         
                            
       </menu>                   
    </menuitem>
    
    <menuitem label='Logout'>
       <icon></icon>
           <action>LoginForm#method=onLogout#static=1</action>
    </menuitem>
    
</menu>